nav {
    background-color: #c3a1a1;
    color: #0f0606;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin-right: 10px;
}

a {
    color: #fff;
    text-decoration: none;

    margin-right: 10px;
}

a:hover {
    color: #00ff00;
}